
v\:* {behavior:url(#default#VML);}
body { margin: 0; padding: 0;}
html, body, #map { height: 100%; width: 100%; }

#header { height: 43px; padding: 0; background-color: #eee; border: 1px solid #888; }
#subheader { height: 12px; text-align: right; font-size: 10px; color: #555; }

.olImageLoadError { display: none; }
.olControlLayerSwitcher .layersDiv { border-radius: 10px 0 0 10px; }
.custom .leaflet-popup-content-wrapper, .custom .leaflet-popup-tip{ background: transparent; box-shadow: 0 3px 14px rgba(0,0,0,0); color: #fff; font-weight: bold; text-shadow: 0px 1px 0px #000,  0px -1px 0px #000, 1px 0px 0px #000, -1px 0px 0px #000; }

.legend {
   line-height: 20px;
   color: #fff;
   text-shadow: 0px 1px 0px #000,  0px -1px 0px #000, 1px 0px 0px #000, -1px 0px 0px #000;
   background: rgb(216, 216, 216);
   padding: 20px;
   border-radius: 5px;
}

.legend i {
   width: 20px;
   height: 20px;
   float: left;
   margin-right: 8px;
   opacity: 1.0;
}

.leaflet-bottom{
  max-width: 50%;
}

.leaflet-control-coordinates .uiElement.label {
  font-size: medium !important;
}

a.leaflet-control-slider-toggle{
  height: 40px;
  line-height: 40px !important;
  margin-right: 10px;
  margin-left: 10px;
}

.leaflet-touch .leaflet-control-layers-toggle, .leaflet-control-layers-toggle.leaflet-layerstree-named-toggle{
  height: 40px;
  line-height: 40px;
  width: 80px;
/*  padding-left: 15px;
  padding-right: 15px; */
  margin-left: 40px;
}

.selectLayer{
  margin-left: -20px;
}

.map_name{
  font-size: 20px;
  padding: 4px;
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
}

#map_info{
  font-size: 15px;
  max-width: 400px;
}

#popGraph{
  min-width: 560px;
}

.leaflet-control-slider-value{
  border-radius: 5px;
}

.img{
  margin-top: auto;
}

.superdiv{
  display: inline-flex;
}

.leaflet-bottom{
  z-index: 999;
}
